.ico {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &-directory-closed {
    background-image: url('/assets/img/img_directory-closed.png');
  }

  &-loudspeaker {
    background-image: url('/assets/img/img_loudspeaker.png');
  }

  &-ms-dos {
    background-image: url('/assets/img/img_ms-dos.png');
  }

  &-my-computer {
    background-image: url('/assets/img/img_my-computer.png');
  }

  &-notepad {
    background-image: url('/assets/img/img_notepad-file.png');
  }

  &-win-logo {
    background-image: url('/assets/img/img_win-logo.png');
  }

  //  Menu start

  &-directory-open {
    background-image: url('/assets/img/img_directory-open.png');
  }

  &-directory-favorites {
    background-image: url('/assets/img/img_directory-favorites.png');
  }

  &-key-win {
    background-image: url('/assets/img/img_key-win.png');
  }

  &-settings {
    background-image: url('/assets/img/img_settings.png');
  }

  &-shut-down {
    background-image: url('/assets/img/img_shut-down.png');
  }

  &-menu-banner {
    background-image: url('/assets/img/img_menu-banner.png');
    display: inline-block;
    height: 389px;
    width: 62px;
  }

  &-menu-banner-small {
    background-image: url('/assets/img/img_menu-banner-small.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 223px;
    width: 37px;
  }

  &-submenu-arrow {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 9px solid #000;
  }

  // window
  &-close {
    background-image: url('/assets/img/img_close.png');
  }

  &-maximize {
    background-image: url('/assets/img/img_maximize.png');
  }

  &-window-mode {
    background-image: url('/assets/img/img_window-mode.png');
  }

  &-minimize {
    background-image: url('/assets/img/img_minimize.png');
  }
}
