.ico {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ico-directory-closed {
  background-image: url('/assets/img/img_directory-closed.png');
}

.ico-loudspeaker {
  background-image: url('/assets/img/img_loudspeaker.png');
}

.ico-ms-dos {
  background-image: url('/assets/img/img_ms-dos.png');
}

.ico-my-computer {
  background-image: url('/assets/img/img_my-computer.png');
}

.ico-notepad {
  background-image: url('/assets/img/img_notepad-file.png');
}

.ico-win-logo {
  background-image: url('/assets/img/img_win-logo.png');
}

.ico-menu-banner {
  background-image: url('/assets/img/img_menu-banner.png');
  height: 386px;
  width: 61px;
}
