<div class="menu-start border-image-classic flex w-72" cdkMenu>
  <div class="menu-start__banner flex flex-col justify-end">
    <div class="ico-menu-banner-small"></div>
  </div>

  <div class="w-full flex flex-col justify-end">
    @for (menuItem of menuItems; track menuItem.title; let index = $index) {
      @if (index === 3) {
        <div class="px-0.5 py-2">
          <div class="menu-start__divider w-full"></div>
        </div>
      }
      <div class="flex items-center justify-between" cdkMenuItem>
        <div class="flex items-center gap-2 px-2 py-1">
          <span class="menu-start-icon" [ngClass]="menuItem.icon"> </span>
          <span> {{ menuItem.title | translate }}</span>
        </div>
        @if (menuItem.menu) {
          <span class="ico ico-submenu-arrow pr-2"></span>
        }
      </div>
    }
  </div>
</div>
