<div
  class="bg-[var(--button-background)] border-image-classic w-72 flex flex-col justify-end"
  cdkMenu
>
  @for (menuItem of menuItems(); track menuItem.title) {
    @if (menuItem.submenuItems?.length) {
      <div
        #trigger="cdkMenuTriggerFor"
        class="flex items-center justify-between cursor-pointer hover:bg-[var(--deep-blue)] hover:text-white"
        [ngClass]="activeIds().includes(menuItem.id) ? 'bg-[var(--deep-blue)] text-white' : ''"
        [cdkMenuTriggerFor]="menu"
        (cdkMenuOpened)="menuOpen(trigger, menuItem.id)"
        (cdkMenuClosed)="menuClose()"
      >
        <div class="flex items-center gap-2 px-2 py-1">
          <span class="inline-block h-6 w-6 bg-contain" [ngClass]="menuItem.icon"> </span>
          <span> {{ menuItem.title | translate }}</span>
        </div>
        <span class="ico-submenu-arrow pr-2"></span>
      </div>
    } @else {
      <div
        class="flex items-center justify-between cursor-pointer hover:bg-[var(--deep-blue)] hover:text-white"
        cdkMenuItem
      >
        <div class="flex items-center gap-2 px-2 py-1">
          <span class="inline-block h-6 w-6 bg-contain" [ngClass]="menuItem.icon"> </span>
          <span> {{ menuItem.title | translate }}</span>
        </div>
      </div>
    }

    <ng-template #menu>
      <app-menu-start-nested-list
        [menuItems]="menuItem?.submenuItems"
        [nestedLevel]="nestedLevel() + 1"
      ></app-menu-start-nested-list>
    </ng-template>
  }
</div>
