@if (folderData()) {
  <div
    class="window-view bg-win-gray border-image-classic border-2"
    [ngClass]="folderData()?.windowViewMode === 'window-mode' ? 'p-0.5' : ''"
    cdkDrag
  >
    <div class="font-bold win-gradient flex items-center justify-between px-1" cdkDragHandle>
      <div class="flex items-center gap-1">
        <span class="ico" [ngClass]="folderData()?.icon"></span>
        <span class="text-white">{{ folderData()?.title }}</span>
      </div>
      <div class="flex">
        <button
          class="ico ico-minimize button-classic-border border-2 p-0.5 bg-win-gray"
          (click)="changeWindowMode('minimized')"
        ></button>

        @if (folderData()?.windowViewMode === 'window-mode') {
          <button
            class="ico ico-maximize button-classic-border border-2 p-0.5 bg-win-gray"
            (click)="changeWindowMode('maximized')"
          ></button>
        } @else {
          <button
            class="ico ico-window-mode button-classic-border border-2 p-0.5 bg-win-gray"
            (click)="changeWindowMode('window-mode')"
          ></button>
        }
        <button
          class="ico ico-close button-classic-border border-2 p-0.5 bg-win-gray"
          (click)="exit()"
        ></button>
      </div>
    </div>
  </div>
}
