.taskbar {
  outline: 1px solid var(--button-light);
  border-top: 1px solid var(--button-bright);
  height: 27px;
  display: flex;
  padding: 0 0 2px 2px;

  background: var(--button-background);
  color: var(--button-text);

  &__divider {
    border-left: 2px solid var(--button-shadow);
    border-right: 2px solid var(--button-bright);
    margin: 1px 3px;
  }

  &__task-list {
    width: 100%;
  }

  &__toolbar {
    display: flex;
    align-items: center;
    border: solid 1px;
    font-size: 13px;
    gap: 10px;
    padding: 0 5px;
    border-color: var(--button-shadow) var(--button-bright) var(--button-bright)
      var(--button-shadow);
    margin: 2px;
    cursor: default;

    .ico {
      height: 15px;
      width: 15px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 3px;

    .language-selector {
      color: var(--text-white);
      background-color: var(--deep-blue);
      padding: 0 3px;
      margin: 2px;
      line-height: 17px;
      cursor: pointer;
    }
  }

  &__start {
    padding: 2px 4px;
    display: flex;
    align-items: center;

    .ico {
      height: 22px;
      width: 22px;
    }
  }
}
