<div class="taskbar">
  <!--  //TODO: menuTrigger for dev, remove:-->
  <button
    class="taskbar__start border-image-classic"
    [cdkMenuTriggerFor]="menu"
    #menuTrigger="cdkMenuTriggerFor"
    (cdkMenuClosed)="onMenuClosed()"
  >
    <span class="ico-win-logo"></span>
    <b>{{ 'app.start' | translate }}</b>
  </button>
  <div class="taskbar__divider"></div>
  <div class="taskbar__task-list"></div>
  <div class="taskbar__divider"></div>
  <div class="taskbar__toolbar">
    <div class="taskbar__icons">
      <span class="ico-loudspeaker"></span>
      <span class="language-selector" (click)="changeLanguage()">{{
        currentLanguage() | titlecase
      }}</span>
    </div>
    {{ time() }}
  </div>
</div>

<ng-template #menu>
  <app-menu-start class="w-full"></app-menu-start>
</ng-template>
