<div class="taskbar">
  <button class="taskbar__start border-image-classic">
    <span class="ico ico-win-logo"></span>
    <b>{{ 'app.start' | translate }}</b>
  </button>
  <div class="taskbar__divider"></div>
  <div class="taskbar__task-list"></div>
  <div class="taskbar__divider"></div>
  <div class="taskbar__toolbar">
    <div class="taskbar__icons">
      <span class="ico ico-loudspeaker"></span>
      <span class="language-selector" (click)="changeLanguage()">{{
        currentLanguage() | titlecase
      }}</span>
    </div>
    {{ time() }}
  </div>
</div>
